.signInContainer{
    background-color: transparent;
    width:100%;
    border:3px solid rgb(41, 121, 153);
    border-radius: 10px;
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-gap: 30px;
    font-family: 'Montserrat', sans-serif;
}

.signInInput {
    border: 1px solid #4195fc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;

    text-align: center;
    -webkit-box-shadow: 0px 0px 10px #4195fc;
    -moz-box-shadow: 0px 0px 10px #4195fc;
    box-shadow: 0px 0px 10px #4195fc;

}

.centerPlaceHolder::placeholder {
    text-align: center;
    color: rgb(64, 20, 146);
}

.signInInputPass::placeholder {
    text-align: center;
    color: rgb(64, 20, 146);
    
}

.signInSubmit {
    border: 1px solid #4195fc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 10px #4195fc;
    -moz-box-shadow: 0px 0px 10px #4195fc;
    box-shadow: 0px 0px 10px #4195fc;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    min-width: 70px;
    width: 40%;
    background: rgb(38, 167, 172);
    color: white;
    -webkit-transition: background .7s;
    -moz-transition: background .7s;
    -ms-transition: background .7s;
    -o-transition: background .7s;
    transition: background .7s;
    height: 40px;
    margin: 0 auto;
}

.signInSubmit:hover {
    border: 1px solid #0070f8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 10px #4195fc;
    -moz-box-shadow: 0px 0px 10px #4195fc;
    box-shadow: 0px 0px 10px #4195fc;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    min-width: 70px;
    background: rgb(158, 5, 163);
}
.signInInputText,.signInInputPass{
    width: 80%;
    margin: 0 auto;
    color: white;
    background:rgba(1, 44, 109, 0.5);
    -webkit-transition: background .6s;
    -moz-transition: background .6s;
    -ms-transition: background .6s;
    -o-transition: background .6s;
    transition: background .6s;
    height: 40px;

}
.signInInputText:focus,.signInInputPass:focus{
    color:black;
    background:rgb(255, 255, 255);


}
.signInForm{
    display: grid;
    grid-template-rows: 50px 50px 50px ;
    grid-gap: 15px;

}
.signInRemember{
    display: inline-block;
    margin-left: 10%;

    color:#032753;

}
.signInCheckbox{
    width: 15px;
    
}

.signInCheckbox-label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 20px;
    width: 30px;
    clear: both;
}

.signInCheckbox-label input {
    position: relative;
    opacity: 0;
    cursor: pointer;
}

.signInCheckbox-label .signInCheckbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 25px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid rgb(28, 92, 117);
}


.signInCheckbox-label input:checked ~ .signInCheckbox-custom {
    background-color:  rgb(28, 92, 117);
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid  rgb(28, 92, 117);
}


.signInCheckbox-label .signInCheckbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.signInCheckbox-label input:checked ~ .signInCheckbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #009BFF;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}



/* For Ripple Effect */
.signInCheckbox-label .signInCheckbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid  rgb(28, 92, 117);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);    
}

.signInCheckbox-label input:checked ~ .signInCheckbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.signInText{
    position: relative;
    float: right;
    margin-top: 2%; 
    padding-right:175px;
    
}
.signInH2{
    font-weight: 100;
    font-size: 30px;
    color: #063a79
}
.signInHeading{
    text-align: center;
}

.signInA{
    color: rgb(1, 25, 88);
    text-decoration: none;

    -webkit-transition: color .7s;
    -moz-transition: color .7s;
    -ms-transition: color .7s;
    -o-transition: color .7s;
    transition: color .7s;
}
.signInA:hover{
    color: rgb(4, 100, 117);
  }
.signInSignup{
    /* position: relative;
    right: 0;
    margin-right: 90%; */
    float: right;
    margin-right: 10%;
    
}
.signInForget{
    /* position: relative;
    left: 0;*/
    margin-left: 10%; 
    
}
.signInFormBottom{
    display: inline-block;
    height: 25px;
}
.signInComponentContainer2{
    display: grid;

}